.main, .expandContainer, .container, 
.top, .bot, .showSettings {
    display: flex; 
}

.main, .expandContainer, .container, 
.showSettings {
    height: 150px;  
    width: 350px; 
}

.main, .expandContainer, .container {
    flex-direction: column; 
    position: absolute; 
}

.expandContainer, .container, .showSettings {
    background: white; 
}

.expandContainer, .container {
    padding: 5px;
}

.container {
    border-radius: 10px; 
}

.expandContainer {
    border-radius: 10px 10px 0px 0px; 
}

.top, .bot {
    padding-left: 15px; 
    padding-right: 15px; 
}

.top {
    align-items: center;
    flex: 2; 
} 

.bot {
    padding-bottom: 10px; 
    justify-content: space-between;
    align-items: center;
    flex: 1; 
}

.time {
    font-size: 60px; 
    flex: 2; 
}   

.start-pause, .reset, .pomodoro, 
.short, .long, .settings {
    cursor: pointer; 
}

.start-pause, .pomodoro, .short, 
.long {
    border-radius: 10px;
    border: hidden;
}

.start-pause {
    height: 45px;
    width: 100px;  
    margin-right: 10px; 
}

.start-pause:hover, .reset:hover, .pomodoro:hover, 
.short:hover, .long:hover {
    opacity: 0.75;
    transition: 0.15;  
}

.start-pause:active, .reset:active, .pomodoro:active, 
.short:active, .long:active {
    opacity: 0.5; 
    transition: 0.15;   
}

.pomodoro, .short, .long, .settings {
    width: 28%; 
    height: 100%; 
}

.hideSettings {
    display: none; 
}

.showSettings {
    transform: translateY(150px);
    border-radius: 0px 0px 10px 10px;
    padding: 20px; 
    align-items: center;
}

.check {
    margin-right: 10px; 
}




