.container, .top, .bot {
    display: flex; 
}

.container {
    background: white;
    height: 150px;  
    width: 350px; 
    border-radius: 10px; 
    padding: 5px; 
    flex-direction: column;
}

.top, .bot {
    padding-left: 15px; 
    padding-right: 15px; 
}

.top {
    align-items: center;
    flex: 2; 
} 

.bot {
    padding-bottom: 10px; 
    justify-content: space-between;
    align-items: center;
    flex: 1; 
}

.time {
    font-size: 60px; 
    flex: 2; 
}   

.start-pause, .reset, .pomodoro, 
.short, .long, .settings {
    cursor: pointer; 
}

.start-pause, .pomodoro, .short, 
.long {
    border-radius: 10px;
    border: hidden;
}

.start-pause {
    height: 45px;
    width: 100px;  
    margin-right: 10px; 
}

.start-pause:hover, .reset:hover, .pomodoro:hover, 
.short:hover, .long:hover {
    opacity: 0.75;
    transition: 0.15;  
}

.start-pause:active, .reset:active, .pomodoro:active, 
.short:active, .long:active {
    opacity: 0.5; 
    transition: 0.15;   
}

.pomodoro, .short, .long, .settings {
    width: 28%; 
    height: 100%; 
}




